<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Create Chat</title>
  </head>
  <body>
    <form action="/chats" method="post">
      <input type="text" name="from" placeholder="Who Are You?" /> <br /><br />
      <textarea name="msg" id="">Write Message</textarea> <br />
      <input type="text" name="to" placeholder="Write Receiver Name" /> <br />
      <button>Create Message</button>
    </form>
  </body>
</html>
